
body {
  background-color: #228b22;
}

img {
  height: 225px;
  width: 225px;
  padding-right: 5%;
  padding-bottom: 5%;
}

span.original {
  background: url(http://s3-2.kiva.org/img/w800/298025.jpg) no-repeat;
}

span.second {
  background: url(http://www.wallpaperup.com/uploads/wallpapers/2013/07/01/112331/big_thumb_44d0b33fe916a1d2aa90e498f6dfcb84.jpg) no-repeat;
}

.title {
  /*
    width: 50%;
    margin-left: 25%;
    margin-right:25%;
    text-align: center;
    border: solid 2px black;
    background-color: lightblue;
  */
  font-size: 2em;
  color: white;
}

.nav-pills {
  border: solid 1px black;
  margin-left: 1%;
  margin-right: 1%;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

.text {
  margin-top: 2%;
  width:50%;
  margin-left: 25%;
}

.temperature {
  font-size: 2.5em;
  text-align: center;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.list {
  color: white;
  text-align: center;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.textures {
  float: right;
  height: 50px;
  width: 150px;

  text-align: center;
  border-radius: 15px;
  margin-top: -4%;
  padding-top: 5px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

.textures span {
  height: 40px;
  width: 40px;
  background: forestgreen;
  border-radius: 50%;
  display: inline-block;
  border: 5px solid white;
}

.textures span:hover {
  cursor: pointer;
}

.title-page {
  height: 400px;
  font-size: 4em;
  background-image: url(http://s3-2.kiva.org/img/w800/298025.jpg);
  margin-top: -20px;
}

#search {
  margin-left: 0%;
  margin-top: 1%;
  width: 20%;
}

#more {
  color: white;
  margin-left: 10%
}

#field {
  width: 50%;
}

.new-trail {
  width: 100%;
}
